body {
	text: #000000;
	background: white;
	margin: 0;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

p {
	text-align: left;
}

h1 {
	color: red;
	font-size: 24px;
	font-family: impact, arial;
	text-shadow:
		-1px -1px white,
		1px -1px white,
		-1px 1px white,
		1px 1px white,
		-2px -2px red,
		2px -2px red,
		-2px 2px red,
		2px 2px red; 
}

h6 {
	color: white;
	font-size: 13px;
}

.headerContent {
	text-align: center;
	float: center;
	background: #000099;
	padding-top: 5px;
}

.headerContent img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: white;
}

.headerBreak {
	width: 100%;
	height: 0;
	border-bottom: 2px solid #000099;
}

.nav {
margin-top: 20px;
height: 40px;
background: red;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	list-style: none;
	font-family: impact, arial;
}

.nav ul li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	color: white; 
}

.nav ul li a:hover {
	color: blue;
}

#mainContent {
	width: 256px;
}

.vidContent {
	background: #66CCFF;
}

.video li {
	text-decoration: none;
	float: left;
	display: block;
}